@model List<baitap_nhom.UsersDI>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2 class="title">Danh Sách User</h2>

    <table border="1" style="margin:auto;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Select((u, index) => new { u, index }))
            {
                <tr>
                    <td>@((ViewBag.Page - 1) * ViewBag.PageSize + user.index + 1)</td>
                    <td>@user.u.Username</td>
                    <td>@user.u.Password</td>
                    <td>@user.u.GetRoleName()</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="paginate" style="margin-top:20px;">
        @if (ViewBag.Page > 1)
        {
            <a class="btn" href="@Url.Action("Index", new { page = ViewBag.Page - 1 })">Prev</a>
        }

        <span>@ViewBag.Page / @ViewBag.TotalPages</span>

        @if (ViewBag.Page < ViewBag.TotalPages)
        {
            <a class="btn" href="@Url.Action("Index", new { page = ViewBag.Page + 1 })">Next</a>
        }
    </div>
</div>
